04. CLICON/ClienteConsola/src/wsdl/localhost_8080/WS_ConUni_Java_GR03/WSLongitud.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is Eclipse Metro/4.0.4.payara-p1 (FISH-10142-Metro-4.0.4-fa01c0b; 2025-07-11T17:44:37+0100) XMLWS-Impl/4.0.3 XMLWS-API/4.0.2 XMLB-Impl/4.0.5 XMLB-API/4.0.2 git-revision#fa01c0b. --><xs:schema xmlns:tns="http://WebServices.monster.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebServices.monster.edu.ec/">

<xs:element name="convertirLongitud" type="tns:convertirLongitud"/>

<xs:element name="convertirLongitudResponse" type="tns:convertirLongitudResponse"/>

<xs:complexType name="convertirLongitud">
<xs:sequence>
<xs:element name="valor" type="xs:double"/>
<xs:element name="unidadOrigen" type="xs:string" minOccurs="0"/>
<xs:element name="unidadDestino" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="convertirLongitudResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>